# SENDA CAF√â

SENDA CAF√â es un proyecto de ventas simuladas en un local de venta de caf√©, tanto para consumir en el lugar o take away.

En este proyecto, lo que haremos en primer lugar es el Data Cleaning y luego el EDA, para explorar los datos que tenemos para saber de que tipos son , si hay errores en los en los mismos, cantidad, si hay datos vac√≠os. Tambien si es necesario de crear nuevas tablas o columnas y as√≠ poder obtener los primeros graficos utilizando librerias de Python como Seaborn y Matplotlib.

El objetivo es poder saber la cantidad de ventas en determinados periodos, en que momentos del d√≠a se realizan mas ventas. Tambien saber cuales son los empleados que mas ticket emiten por dias, horarios, etc. Saber los costos mensuales, ver cuales de ellos es el mas alto, ya sean costos fijos y/o variables. Detectar cuales son los productos que mas costos tienen o producen. Adem√°s analizar el stcok de los productos e insumos y compararlos tambien con los costos y las ventas, para entender qu√© productos son mas vendidos o si tienen mejor margen de ganacias.

# _______________________________________________________________________________

Importac√≠on de librer√≠as

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# from ydata_profiling import ProfileReport
import sweetviz as sv

c:\Users\Fernando\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\Fernando\AppData\Local\Programs\Python\Python313\Lib\site-packages\sweetviz\graph.py:8: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  from pkg_resources import resource_filename

# _______________________________________________________________________________

## Exploramos la tabla 'empleados'

Proceso de Data Cleaning & EDA

In [2]:
## Definimos la ruta del archivo
ruta_empleado_csv = r'C:\Users\Fernando\Desktop\Ventas Caf√© Especialidad\Data\empleados.csv'

# Leemos el archivo
df_empleados = pd.read_csv(ruta_empleado_csv)

# Vemos la informaci√≥n
print("Informe: \n")
df_empleados.info()

print("Cantidad de filas y columnas: ", df_empleados.shape)

## Mostramos la tabla (los primeros 100)
df_empleados.head(100)

Informe:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   empleado_id     11 non-null     int64
 1   nombre          11 non-null     object
 2   rol             11 non-null     object
 3   turno           11 non-null     object
 4   sueldo_mensual  11 non-null     int64
dtypes: int64(2), object(3)
memory usage: 572.0+ bytes
Cantidad de filas y columnas:  (11, 5)

    empleado_id       nombre       rol   turno  sueldo_mensual
0             1   Empleado_1  Cocinero  ma√±ana          450000
1             2   Empleado_2    Cajero   tarde          400000
2             3   Empleado_3   Barista  ma√±ana          420000
3             4   Empleado_4  Camarero   tarde          380000
4             5   Empleado_5  Camarero  ma√±ana          380000
5             6   Empleado_6  Camarero   tarde          380000
6             7   Empleado_7  Camarero  ma√±ana          380000
7             8   Empleado_8  Camarero   tarde          380000
8             9   Empleado_9  Camarero  ma√±ana          380000
9            10  Empleado_10  Camarero   tarde          380000
10           11  Empleado_11  Camarero  ma√±ana          380000

In [3]:
# M√©tricas y estad√≠sticas
print("M√©tricas y Estad√≠sticas: ")
df_empleados.describe()

M√©tricas y Estad√≠sticas:

       empleado_id  sueldo_mensual
count    11.000000       11.000000
mean      6.000000   391818.181818
std       3.316625    23159.525823
min       1.000000   380000.000000
25%       3.500000   380000.000000
50%       6.000000   380000.000000
75%       8.500000   390000.000000
max      11.000000   450000.000000

Transformaci√≥n de tipo de datos

In [4]:
# Convertimos a 'float' la columna "sueldo_mensual"
df_empleados["sueldo_mensual"] = df_empleados["sueldo_mensual"].astype(float)

# Guardamos el cambio en el archivo .csv
df_empleados.to_csv(r'C:\Users\Fernando\Desktop\Ventas Caf√© Especialidad\Data\empleados.csv', index=False)

# _______________________________________________________________________________

# Exploramos la tabla 'ventas'

In [18]:
## Definimos la ruta del archivo
ruta_ventas_csv = r'C:\Users\Fernando\Desktop\Ventas Caf√© Especialidad\Data\ventas.csv'

# Leemos el archivo
df_ventas = pd.read_csv(ruta_ventas_csv)

# Vemos la informaci√≥n
print("Informe: \n")
df_ventas.info()

print("Cantidad de filas y columnas: ", df_ventas.shape)

## Mostramos la tabla (los primeros 100)
df_ventas.head(1250)

Informe:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   empleado_id     11 non-null     int64
 1   nombre          11 non-null     object
 2   rol             11 non-null     object
 3   turno           11 non-null     object
 4   sueldo_mensual  11 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 572.0+ bytes
Cantidad de filas y columnas:  (11, 5)

    empleado_id       nombre       rol   turno  sueldo_mensual
0             1   Empleado_1  Cocinero  ma√±ana        450000.0
1             2   Empleado_2    Cajero   tarde        400000.0
2             3   Empleado_3   Barista  ma√±ana        420000.0
3             4   Empleado_4  Camarero   tarde        380000.0
4             5   Empleado_5  Camarero  ma√±ana        380000.0
5             6   Empleado_6  Camarero   tarde        380000.0
6             7   Empleado_7  Camarero  ma√±ana        380000.0
7             8   Empleado_8  Camarero   tarde        380000.0
8             9   Empleado_9  Camarero  ma√±ana        380000.0
9            10  Empleado_10  Camarero   tarde        380000.0
10           11  Empleado_11  Camarero  ma√±ana        380000.0

Los tipos de datos estan bien, pero cambiaremos la columna 'fecha' a "datetime" y 'total_ticket' a "float"

In [17]:

## Cambiamos los tipo de datos
# df_ventas["fecha"] = pd.to_datetime(df_ventas["fecha"])
df_ventas["total_ticket"] = df_ventas["total_ticket"].astype(float)

# Guardamos el cambio en el archivo .csv
df_empleados.to_csv(r'C:\Users\Fernando\Desktop\Ventas Caf√© Especialidad\Data\ventas.csv', index=False)

KeyError: 'total_ticket'

Primeras medidas y visualizaciones de 'ventas'

üìä Medidas iniciales
Vamos a calcular:

Ingresos totales

Ticket promedio

Ventas por tipo de servicio

Ventas por camarero

Ventas por franja horaria

Evoluci√≥n diaria de ingresos

In [13]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


## Definimos la ruta del archivo
ruta_ventas_csv = r'C:\Users\Fernando\Desktop\Ventas Caf√© Especialidad\Data\ventas.csv'

# Cargar datos
df_ventas = pd.read_csv(ruta_ventas_csv)

# ====================
# 1Ô∏è‚É£ Medidas iniciales
# ====================
ingresos_totales = df_ventas["total_ticket"].sum()
ticket_promedio = df_ventas["total_ticket"].mean()

print(f"Ingresos totales: ${ingresos_totales:,.2f}")
print(f"Ticket promedio: ${ticket_promedio:,.2f}")

# ===================================
# 2Ô∏è‚É£ Visualizaci√≥n: ventas por servicio
# ===================================
sns.barplot(data=df_ventas, x="servicio", y="total_ticket", estimator=sum, palette="viridis")
plt.title("Ventas totales por tipo de servicio")
plt.ylabel("Ingresos ($)")
plt.show()

# ===================================
# 3Ô∏è‚É£ Visualizaci√≥n: ventas por camarero
# ===================================
sns.barplot(data=df_ventas, x="camarero", y="total_ticket", estimator=sum, palette="crest")
plt.title("Ventas totales por camarero")
plt.ylabel("Ingresos ($)")
plt.xticks(rotation=45)
plt.show()

# ===================================
# 4Ô∏è‚É£ Visualizaci√≥n: ventas por franja horaria
# ===================================
sns.barplot(data=df_ventas, x="hora", y="total_ticket", estimator=sum, palette="mako")
plt.title("Ventas totales por franja horaria")
plt.ylabel("Ingresos ($)")
plt.show()

# ===================================
# 5Ô∏è‚É£ Evoluci√≥n diaria de ingresos
# ===================================
ventas_diarias = df_ventas.groupby("fecha")["total_ticket"].sum().reset_index()
sns.lineplot(data=ventas_diarias, x="fecha", y="total_ticket", marker="o")
plt.title("Evoluci√≥n diaria de ingresos")
plt.ylabel("Ingresos ($)")
plt.xticks(rotation=45)
plt.show()

KeyError: 'total_ticket'