# SENDA CAFÉ

SENDA CAFÉ es un proyecto de ventas simuladas en un local de venta de café, tanto para consumir en el lugar o take away.

En este proyecto, lo que haremos en primer lugar es el Data Cleaning y luego el EDA, para explorar los datos que tenemos para saber de que tipos son , si hay errores en los en los mismos, cantidad, si hay datos vacíos. Tambien si es necesario de crear nuevas tablas o columnas y así poder obtener los primeros graficos utilizando librerias de Python como Seaborn y Matplotlib.

El objetivo es poder saber la cantidad de ventas en determinados periodos, en que momentos del día se realizan mas ventas. Tambien saber cuales son los empleados que mas ticket emiten por dias, horarios, etc. Saber los costos mensuales, ver cuales de ellos es el mas alto, ya sean costos fijos y/o variables. Detectar cuales son los productos que mas costos tienen o producen. Además analizar el stcok de los productos e insumos y compararlos tambien con los costos y las ventas, para entender qué productos son mas vendidos o si tienen mejor margen de ganacias.

# _______________________________________________________________________________

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Exploramos la tabla 'empleados'

Proceso de Data Cleaning & EDA

In [ ]:
## Definimos la ruta del archivo
ruta_empleado_csv = r'C:\Users\Fernando\Desktop\Ventas Café Especialidad\Data\empleados.csv'

# Leemos el archivo
df_empleados = pd.read_csv(ruta_empleado_csv)

# Vemos la información
print("Informe: \n")
df_empleados.info()

print("Cantidad de filas y columnas: ", df_empleados.shape)

## Mostramos la tabla (los primeros 100)
df_empleados.head(100)

Informe:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   empleado_id     11 non-null     int64
 1   nombre          11 non-null     object
 2   rol             11 non-null     object
 3   turno           11 non-null     object
 4   sueldo_mensual  11 non-null     int64
dtypes: int64(2), object(3)
memory usage: 572.0+ bytes
Cantidad de filas y columnas:  (11, 5)

    empleado_id       nombre       rol   turno  sueldo_mensual
0             1   Empleado_1  Cocinero  mañana          450000
1             2   Empleado_2    Cajero   tarde          400000
2             3   Empleado_3   Barista  mañana          420000
3             4   Empleado_4  Camarero   tarde          380000
4             5   Empleado_5  Camarero  mañana          380000
5             6   Empleado_6  Camarero   tarde          380000
6             7   Empleado_7  Camarero  mañana          380000
7             8   Empleado_8  Camarero   tarde          380000
8             9   Empleado_9  Camarero  mañana          380000
9            10  Empleado_10  Camarero   tarde          380000
10           11  Empleado_11  Camarero  mañana          380000

In [ ]:
# Métricas y estadísticas
print("Métricas y Estadísticas: ")
df_empleados.describe()

Métricas y Estadísticas:

       empleado_id  sueldo_mensual
count    11.000000       11.000000
mean      6.000000   391818.181818
std       3.316625    23159.525823
min       1.000000   380000.000000
25%       3.500000   380000.000000
50%       6.000000   380000.000000
75%       8.500000   390000.000000
max      11.000000   450000.000000

Hasta aqui....